.test-rule1 {
  color: var(--testRule1);
}

.test-rule2 {
  color: blue;
}

.test-rule3 .another-selector {
  color: var(--testRule3);
}

.test-rule4 .something > .direct-child {
  -webkit-box-sizing: var(--testRule4);
     -moz-box-sizing: var(--testRule4);
          box-sizing: var(--testRule4);
}

.test-rule5 .something + .something-else {
  color: var(--testRule5);
  background-color: blue;
}

.test-rule6 .something1,
.test-rule6 .something2,
.test-rule6 .something3 {
  background: purple;
}

.test-rule7 {
  border-color: var(--testRule7);
  -webkit-box-shadow: 0 0 3px var(--testRule7);
  -moz-box-shadow: 0 0 3px var(--testRule7);
  -ms-box-shadow: 0 0 3px var(--testRule7);
  -o-box-shadow: 0 0 3px var(--testRule7);
  box-shadow: 0 0 3px var(--testRule7);
}

.test-rule8 {
  background: var(--testRule8) !important;
}

self {
  border: var(--testRule9);
}
